/* RESPONSIVE */

/* MOBILE XS  */


@media all and (min-width:320px) {


  #sidebar {
    width: 55px;
    padding: 5px 0;
  }

  #sidebar .logo {
    display: none;
  }

  #sidebar .logo-small {
    display: block;
    width: 18px;
    margin-left: 18px;
  }

  .icon-sidebar {
   margin-top: 5px;
  }

   .icon-sidebar i {
   margin: 3px 0;
  }

  #sidebar .home {
    border: none;
  }

  .font-size span {
    display: none;
  }

  .playlist {
    display: none;
  }

  .separator {
    display: none;
  }

  .user .user-name{
    display: none;
  }

  .sidebar-footer span {
    display: none;
  }

  #sidebar .sidebar-footer img {
    margin-top: 750px;
  }

  #sidebar .user img {
    transform: scale(2);
    margin-top: 10px;
  }

  #content {
    width: 100%;
  }

  #header {
    width: calc(100vw - 50px);
  }

  .main-menu .menu {
  }

  .main-menu .menu li {
  }

  .col-12-5 {
    width: calc(100% / 2 - 20px);
  }

  /* FOOTER */

  .player-bar {
    width: 30%;
  }

  .footer-left img {
    width: 40px;
  }

  .footer-left .icon-left {
    margin: 0;
  }


  .player-bar-right {
    width: 60px;
  }

  .footer-left .icon-left .cuore {
    margin-left: 10px;
  } 

  .footer-right .icon-footer {
    display: flex;
  }

  .footer-right .icon-footer i {
    font-size: 15px;
    margin: 0 1px;
  }

}


/* MOBILE SMALL */

@media all and (min-width:576px) {
  
  #sidebar .logo {
    display: block;
  }

  #sidebar .logo-small {
    display: none;
  }

  #sidebar {
    width: 400px;
  }

    #header {
    width: calc(100vw - 231px);
  }

}