/* RESPONSIVE */

/* MOBILE XS  */


  #sidebar {
    width: 55px;
    padding: 5px 0;
    position: relative;
  }

  #sidebar .logo {
    display: none;
  }

  #sidebar .logo-small {
    display: block;
    width: 18px;
    margin-left: 16px;
  }

  .icon-sidebar {
   margin-top: 5px;
  }

   .icon-sidebar i {
   margin: 3px 0;
  }

  #sidebar .home {
    border: none;
  }

  .font-size span {
    display: none;
  }

  .playlist {
    display: none;
  }

  .separator {
    display: none;
  }

  .user .user-name{
    display: none;
  }

  .sidebar-footer span {
    display: none;
  }

  #sidebar .footer-side {
    position: absolute;
    bottom: 20px;
  }

  #sidebar .user img {
    transform: scale(2);
    margin-top: 10px;
  }

  #content {
    width: 100%;
  }

  #header {
    width: calc(100vw - 50px);
    position: fixed;
    z-index: 1;
  }

 .padding-left-16 {
  padding-left: 18px;
 }


  .main-menu ul {
    flex-wrap: wrap;
  }

  .main-menu ul li {
    margin-bottom: 30px;
  }

   .main-menu ul:nth-last-child(1) {
    margin-top: 10px;
   }

  .col-12-5 {
    width: calc(100% / 2 - 20px);
  }


  /* MOBILE XS  */
  
@media all and (min-width:350px) {


  #sidebar {
    width: 55px;
    padding: 5px 0;
    position: relative;
  }

  #sidebar .logo {
    display: none;
  }

  #sidebar .logo-small {
    display: block;
    width: 18px;
    margin-left: 16px;
  }

  .icon-sidebar {
   margin-top: 5px;
  }

   .icon-sidebar i {
   margin: 3px 0;
  }

  #sidebar .home {
    border: none;
  }

  .font-size span {
    display: none;
  }

  .playlist {
    display: none;
  }

  .separator {
    display: none;
  }

  .user .user-name{
    display: none;
  }

  .sidebar-footer span {
    display: none;
  }

  #sidebar .footer-side {
    position: absolute;
    bottom: 20px;
  }

  #sidebar .user img {
    transform: scale(2);
    margin-top: 10px;
  }

  #content {
    width: 100%;
  }

  #header {
    width: calc(100vw - 50px);
    position: fixed;
    z-index: 1;
  }

 .padding-left-16 {
  padding-left: 18px;
 }


  .main-menu ul {
    flex-wrap: wrap;
  }

  .main-menu ul li {
    margin-bottom: 30px;
  }

   .main-menu ul:nth-last-child(1) {
    margin-top: 10px;
   }

  .col-12-5 {
    width: calc(100% / 2 - 20px);
  }

  /* FOOTER (550px)*/

  .player-bar {
    width: 30%;
  }

  .footer-left img {
    width: 40px;
  }

  .footer-left .icon-left {
    margin: 0;
  }


  .player-bar-right {
    width: 60px;
  }

  .footer-left .icon-left .cuore {
    margin-left: 10px;
  } 

  .footer-right .icon-footer {
    display: flex;
  }

  .footer-right .icon-footer i {
    font-size: 15px;
    margin: 0 1px;
  }

}


/* MOBILE SMALL */

@media all and (min-width:576px) {
  
  #sidebar .logo {
    display: block;
    width: 180px;
    margin: 10px;
  }

  #sidebar .logo-small {
    display: none;
  }

  #sidebar {
    width: 400px;
  }

    #header {
    width: calc(100vw - 231px);
  }

  #sidebar .home {
    border: block;
  }

  .font-size span {
    display: block;
  }

  .playlist {
    display: block;
  }

  .separator {
    display: block;
  }

  .user .user-name{
    display: block;
  }

  .sidebar-footer span {
    display: block;
  }

  .footer-side .separator {
    margin-left: 20px;
    width: 190px;
  }

  .user .user-name {
    margin-top: 10px;
  }

  .footer-left .icon-left {
    display: initial;
  }

#sidebar .home {
     border-left: 3px solid rgb(163, 255, 43);
     margin-top: 30px;
  }

}

/* MD SCREEN  */

@media all and (min-width:770px) {

  #sidebar .logo {
    width: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }

  #header {
    width: calc(100vw - 260px);
  }

   .col-12-5 {
    width: calc(100% / 4 - 20px);
  }

  .footer-left .icon-left {
    display: flex;
  }

}

/* LG SCREEN  */

@media all and (min-width:992px) {

  .col-12-5 {
    width: calc(100% / 6 - 20px);
  }

  #sidebar {
    width: 220px;
  }

  #header {
    width: calc(100vw - 195px);
  }

  
  .player-bar-right {
    width: 150px;
  }

  .player-bar {
    width: 50%;
  }

}


/* HEIGHT-350  */

@media all and (max-height:350px) {

  .playlist {
    display: none;
  }

  .footer-side {
    display: none;
  }

  #sidebar {
    z-index: -1;
  }

}