* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* UTILITY  */

.flex {
  display: flex;
}

.mt-20 {
  margin-top: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.grey {
  color: grey;
}

.mt-10 {
  margin-top: 10px;
}

.font-size {
  font-size: 12px;
}

.mt-135 {
  margin-top: 135px;
}

.bold {
  font-weight: bold;
}

.decoration-none {
  text-decoration: none;
}

.white {
  color: white;
}

.mt-15 {
  margin-top: 15px;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-10 {
  gap: 10px;
}

/* MAIN  */

main {
  height: calc(100vh - 80px);
  display: flex;
}

#header {
  height: 70px;
  background-color: #080B12;
  width: calc(100vw - 220px);
  position: fixed;
  top: 0;
  right: 0;
}

#header .header-btn {
  justify-content: flex-end;
  margin-top: 15px;
}

#sidebar {
  width: 220px;
  background-color: black;
  height: 100%;
  color: white;
  padding: 20px 20px;
}

#content {
  height: 100%;
  width: calc(100vw - 220px);
  background-color: #141922;
  overflow-y: auto;
  color: white;
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-upgrade {
  padding: 10px 20px;
  background-color: #080B12;
  border: 1px solid white;
  width: fit-content;
  border-radius: 30px;
  font-size: 12px;
}

.icon span {
  margin-left: 5px;
}

.plus {
  padding: 0 5px;
  background-color: grey;
  width: fit-content;
  color: black;
  font-size: 30px;
}

.icon-sidebar .icon {
  margin-bottom: 5px;
}

.margin-p p {
  margin-bottom: 8px;
}

.icon-footer i {
  border: 1px solid grey;
  border-radius: 50%;
  padding: 2px;
  font-size: 8px;
  vertical-align: middle;
}

/* MAIN-MENU  */
.menu .ul-list li {
  font-size: 10px;
}

.ul-list ul li {
  margin: 0 10px;
  list-style-type: none;
}

.text-played h1 {
  font-size: 1.2rem;
}

/* IMG COL */

.col-12-5 {
  width: calc(100% / 6 -10px);
}

.box img {
  width: 100%;
}



/* FOOTER  */

footer {
  height: 80px;
  background-color: #202020;
}