* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* UTILITY  */

.flex {
  display: flex;
}

.mt-20 {
  margin-top: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.grey {
  color: grey;
}

.mt-10 {
  margin-top: 10px;
}

.font-size {
  font-size: 12px;
}

.mt-135 {
  margin-top: 135px;
}

.bold {
  font-weight: bold;
}

.decoration-none {
  text-decoration: none;
}

.white {
  color: white;
}

.mt-15 {
  margin-top: 15px;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-10 {
  gap: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.title-img-size {
  font-size: 15px;
}

.mb-50 {
  margin-bottom: 50px;
}

.inline-block {
  display: inline-block;
}

.ml-50 {
  margin-left: 50px;
}




/* MAIN  */

main {
  height: calc(100vh - 80px);
  display: flex;
}

#header {
  height: 70px;
  background-color: #080B12;
  width: calc(100vw - 220px);
  position: fixed;
  top: 0;
  right: 0;
}

#header .header-btn {
  justify-content: flex-end;
  margin-top: 15px;
}

#sidebar {
  width: 220px;
  background-color: black;
  height: 100%;
  color: white;
  padding: 20px 20px;
}

#content {
  height: 100%;
  width: calc(100vw - 220px);
  background-color: #141922;
  overflow-y: auto;
  color: white;
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-upgrade {
  padding: 10px 20px;
  background-color: #080B12;
  border: 1px solid white;
  width: fit-content;
  border-radius: 30px;
  font-size: 12px;
}

.icon span {
  margin-left: 5px;
}

.plus {
  padding: 0 5px;
  background-color: grey;
  width: fit-content;
  color: black;
  font-size: 30px;
}

.icon-sidebar .icon {
  margin-bottom: 5px;
}

.margin-p p {
  margin-bottom: 8px;
}

.icon-footer i {
  border: 1px solid grey;
  border-radius: 50%;
  padding: 2px;
  font-size: 8px;
  vertical-align: middle;
}

/* MAIN-MENU  */
.menu .ul-list li {
  font-size: 10px;
}

.ul-list ul li {
  margin: 0 10px;
  list-style-type: none;
}

.text-played h1 {
  font-size: 1.5rem;
}

/* IMG COL */


.col-12-5 {
  width: calc(100% / 6 - 20px);
}

.col-12-5 img {
  width: 100%;
}

.col-12-5 .text-metal {
  text-align: center;
}

.col-12-5 .size-span {
  font-size: 12px;
}


.col-john .text-metal {
  text-align: center;
}

.col-john {
  width: calc(100% / 6 - 20px);
}

.col-john img {
  width: 100%;
}

.cont-border-radius img {
  border-radius: 50%;
}


/* FOOTER  */

footer {
  height: 80px;
  background-color: #202020;
}

.container-footer {
  padding-top: 10px; 
  padding-left: 15px;
  padding-right: 15px;
}

.footer-left {
  height: 60px;
  width: 400px;
}

.footer-left img {
  width: 50px;
  vertical-align: middle;
}

.text-img-footer {
  vertical-align: middle;
}

.left-icon {
  align-items: center;
}

.left-icon i {
  color: grey;
}

.player-controller {
  display: flex;
  width: 70%;
  align-items: center;
  position: relative;
  margin-left: 240px;
}

.player-bar {
  width: 40%;
  background-color: grey;
  height: 2.5px;
  border-radius: 5px;
  margin: 0px 20px;
  position: relative;
  margin-top: 30px;
}

.player-time {
  margin-top: 30px;
}

.elapsed-time {
  position: absolute;
  top: 0;
  left: 0;
  background-color: silver;
  height: 100%;
  width: 60%;
  border-radius: 5px;
} 

 .controller-point {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: silver;
  border-radius: 50%;
  border: 1px solid black;
} 

.player-controller:hover .elapsed-time {
  background-color: rgb(75, 240, 75);
}

.player-controller:hover .controller-point {
  display: block;
}

.invert {
  transform: scale(-1);
}

.icon-music {
  display: flex;
  color: white;
  position: absolute;
  top: 5px;
  left: 130px;
}

.icon-music i {
  margin: 0 10px;
}

.footer-right .icon-right i {
  margin: 0 10px;
  margin-top: 30px;
}

.icon-right {
  font-size: 12px;
}

.player-controller-right {
  width: 100%;
}

.player-bar-right {
  width: 100px;
  background-color: grey;
  height: 2.5px;
  border-radius: 5px;
  position: relative;
  margin-top: 35px;
}

.elapsed-time-right {
  position: absolute;
  top: 0;
  left: 0;
  background-color: silver;
  height: 100%;
  width: 40%;
  border-radius: 5px;
}

.controller-point-right {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: silver;
  border-radius: 50%;
  border: 1px solid black;
}

.player-controller-right:hover .elapsed-time-right {
  background-color: rgb(75, 240, 75);
}

.player-controller-right:hover .controller-point-right {
  display: block;
}



